<div class=" container-all navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo-learning" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <%= javascript_pack_tag 'dropdownPrueba' %>

    <% if user_signed_in? %>
      <%# dropdown desplegado %>
      <div class="dropdown-prueba navbar-nav-prueba hide-options" id="dropdown-prueba">
        <div class="d-flex justify-content-end align-items-center">
          <div class='nav-user'>
            <div class="nav-username"> <%= current_user.name %> </div>
            <div class="nav-email"> <%= current_user.email %> </div>
          </div>
          <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        </div>
        <div class='dropdown-options'>
          <%= link_to "Perfil", "#", class: "links btn btn-dropdown" %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "links btn btn-dropdown" %>
        </div>
      </div>

      <%# Dropdown pequeño %>
      <!--
      <div class="dropdown-small hide-options d-none" id="dropdown-small">
        <div class='d-flex align-items-center'>
          <div class="nav-username me-3"> <%= current_user.name %> </div>
          <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        </div>
      </div>
      -->
    <% end %>


  </div>
</div>
