<div class="m-5 p-3"> 
  <div class="pb-3 align-items-center"> 
    <h2> Nuevos Prospectos </h2>
    <%= link_to 'Nuevo prospecto', new_prospect_path, class: "links btn btn-nuevo" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellido</th>
        <th scope="col">Celular</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>

      </tr>
    </thead>

    <tbody>
      <% @prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.email %> </td>
        <td> <%= prospect.name %>
         <%= prospect.lastname %></td>
        <td> <%= prospect.cellphone %></td>
        <td> <%= prospect.status.status %></td>
        <td> <%= link_to 'ver', prospect_path(prospect), class: "links" %>
        <%= link_to 'editar', edit_prospect_path(prospect), class: "links"%>
        </td>
         
      </tr>
      <% end %>
    </tbody>
  </table>




</div>
